$textColor: #1d211f;
$holderTextColor: #a5b1ad;
$activeTextColor: #58bccc;

$errorTextColor: #FF2222;

$backgroundColor: #F2F2F2;
$backgroundFormColor: #F4F5FC;
$activeBackgroundColor: #bfccc7;

$generalFontFamily: ReformaGroteskMediumC;
$activeFormFontFamily: PT Sans;
$secondFontFamily: PT Sans Narrow;